@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}
.navbar{
    position: fixed;
    width:100%;
    z-index: 999;
    padding: 30px 0; 
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background:#5AC3B0;
    padding: 15px 0;
}
.navbar .max-width{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo a{
    color:white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:crimson;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color:white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    
}
.navbar.sticky a span{
    color:white;
}
.navbar.sticky .menu li a:hover{
    color:white;
}
.navbar .menu li a:hover{
    color:crimson;
}
/* menu bton styling */
.menu-btn{
    color:white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* similar styling */

section{
    padding: 100px 0;
}
.about, .skills, .skills-content,
.projects, .projects-content, .contact .contact-content, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, .skills .skills-content, 
.projects .projects-content, .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-weight: 500px;
    font-size: 35px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width:180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 15px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);

}

/* home section styling */

.home{
    display: flex;
    background: url("./images/background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
    color:white;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
    border: 1px solid yellow;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 22px;

}
.home .home-content .text-2{
    font-size: 50px;
    /* font-family: 'Poppins', sans-serif; */
    margin-left: -3px; 
}
.home .home-content .text-3{
    font-size: 20px;    
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}




/* about section styling */


.about .title::after{
    content: "who I am";
}
.about .about-content .left{
    width: 45%;
    
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color:crimson;
}
.about .about-content .right {
    text-align: justify;
}
.about .about-content .right a{
    text-align: justify;
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 3px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;

}
.about .about-content .right a:hover{
    color: crimson;
    background: none;

}




/* responsive media query */

@media (max-width: 1004px) {
    .home .max-width{
        margin-left:0px;
}
}
@media (max-width: 891px){
    .max-width{
        padding: 0 50px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }


}


/* -------------------------responsive nav bar code start------------------------------------------------ */
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: 0.3s ease;
    }
    .navbar .menu.active{
        left:0;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    /* ------------------------------------End---------------------------------------------------- */
    .navbar .menu li{
        display:block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 65px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    
    }


    .footer{
        background:#000;
        padding:30px 0px;
        font-family: 'Play', sans-serif;
        text-align:center;
        }
        
        .footer .row{
        width:100%;
        margin:1% 0%;
        padding:0.6% 0%;
        color:gray;
        font-size:0.8em;
        }
        
        .footer .row a{
        text-decoration:none;
        color:gray;
        transition:0.5s;
        }
        
        .footer .row a:hover{
        color:#fff;
        }
        
        .footer .row ul{
        width:100%;
        }
        
        .footer .row ul li{
        display:inline-block;
        margin:0px 30px;
        }
        
        .footer .row a i{
        font-size:2em;
        margin:0% 1%;
        }
        
        @media (max-width:720px){
        .footer{
        text-align:left;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
        .footer .row a i{
        margin:0% 3%;
        }
        }
